body {
  margin: 0;
}


#navbar {
  background: red;
  width: 100vw;
  height: 4vh;
}


#navbar ul{
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  /* padding: 0; */
}

#navbar li{
  list-style: none;
}

:root {
  --welcome-section-height: 25vh;
}

#welcome-section {
  height: var(--welcome-section-height);
  width: 100%;
  background: tomato;
  padding: 2em 0;
}

#welcome-section h1 {
  text-align: center;
  justify-content: center;
}

#projects {
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2em;
  height: calc(100vh - var(--welcome-section-height));
}

@media (max-width: 600px) {
  #projects {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.project-tile {
  min-height: 200px;
  background: gray;
}

.project-tile p {
  text-align: center;
  font-size: 1.5em;
}